/* nao chumbar numeropx, usar % ou numeroem DONE*/ 
/* usar inline block para dispor divs na mesma "linha" DONE */
/* Não use float! */
/* Colocar css numa pasta de stylesheets e scripts js numa pasta scripts DONE*/

*{
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(29, 153, 60);
}

h1, h2, h3 {
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
}

td, th {
    padding: 5px;
    border: 1px solid black;
}

h1 {
    margin: 0.8em;
    padding: 0.5em;
}

.cabecalho {
    background: #fff;
    border-radius: 1em;
    margin: 2em 3.5em;
}

.cabecalho::after{
    content: " ";
    clear: both;
    display: block;
}

.menu-de-navegacao {
    float: left;
}

.menu-de-navegacao ul{
    margin-bottom: 0em;
    margin-top: 0em;
}

.menu-de-navegacao ul li {
    display: inline-block;
}

.menu-de-navegacao ul li a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    line-height: 3em;
}

.conteudo {
    background: #fff;
    margin: 2em 3.5em;
    border-radius: 1em;
    padding: 1em 2em;
    max-width: 90%;
    min-width: 10%;
    display: inline-block;
}

.apresentacao-do-sistema {
    display: block;
}

.criterios-de-classificacao {
    margin-right: 1.5em;
    width: 40%;
    float: left;
}

.criterios-de-desclassificacao {
    margin-left: 1.5em;
    width: 40%;
    float: right;
}