*{
    font-family: 'Open Sans', sans-serif;
}

body {
    background: rgb(29, 153, 60);
}

h1 {
    text-align: center;
    margin: 0.8em;
    padding: 0.5em;
}

.cabecalho {
    background: #fff;
    border-radius: 1em;
    margin: 2em 3.5em;
}

.cabecalho::after{
    content: " ";
    clear: both;
    display: block;
}

.menu-de-navegacao {
    float: left;
}

.menu-de-navegacao ul{
    margin-bottom: 0em;
    margin-top: 0em;
}

.menu-de-navegacao ul li {
    display: inline-block;
}

.menu-de-navegacao ul li a {
    padding: 0.5em 1em;
    text-decoration: none;
    color: black;
    line-height: 3em;
}


.conteudo {
    background: #fff;
    margin: 2em 3.5em;
    border-radius: 1em;
    padding: 1.5em;
}

.pesquisa-de-pretendente {
    margin: 1em 0em;
}

